{% include "base.html" %}
{% load static %} 

{% block header %}
    <link rel="stylesheet"href="{% static 'taskapp/css/style.css' %}"/>
    <script src="{% static 'taskapp/js/app.js' %}"></script>
{% endblock header %} 

{% block content %}
    <div class='addbutton' >
        <img class='addimg' src="{% static 'taskapp/images/add.jpg' %}" alt="">
    </div>

    <h1>hi {{user}}</h1>
    <a href="{% url 'logout_page'  %}">logout</a>
    <div>
        <input type="text" placeholder='search for a task....'> 
        <button type="submit">search</button>
    </div>

    {% for r in rooms %}
    {{r}} {{r.id}}
    {% endfor %}
    <div class="grid">
        <div class="grid-item">
            <h1 class='tasksHeaders'>daily tasks</h1>
            {% for task in daytask %}
            <div class="{{task.id}} daytask item {% if task.is_finished %}strikethrough{% endif %}">
                <div class="flex-large">
                    {{ task }}
                </div>
                <div class="flex-small">
                    {{ task.estimated_time }}
                </div>
                <div class="flex-end">
                    <a href='{% url "task" task.id %}?taskType=weeklytask' class="details-button">Details</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="grid-item">
            <h1 class='tasksHeaders'>weekly tasks</h1>
            {% for task in weeklytask %}
            <div class="{{task.id}} weeklytask item {% if task.is_finished %}strikethrough{% endif %}">
                <div class="flex-large">
                    {{ task }}
                </div>
                <div class="flex-small">
                    {{ task.estimated_time }}
                </div>
                <div class="flex-end">
                    <a href='{% url "task" task.id %}?taskType=weeklytask' class="details-button">Details</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="grid-item">
            <h1 class='tasksHeaders'>monthly tasks</h1>
            {% for task in monthlytask %}
            <div class="{{task.id}} monthlytask item {% if task.is_finished %}strikethrough{% endif %}">
                <div class="flex-large">
                    {{ task }}
                </div>
                <div class="flex-small">
                    {{ task.estimated_time }}
                </div>
                <div class="flex-end">
                    <a href='{% url "task" task.id %}?taskType=monthlytask' class="details-button">Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class='addContainer view'>
        <div class='addbutton closeButton'>
            X
        </div>
        {% if room %}
        <a href="{% url 'add_task' room.id 'daytask' %}">Add Daily Task</a>
        <a href="{% url 'add_task' room.id 'weeklytask' %}">Add Weekly Task</a>
        <a href="{% url 'add_task' room.id 'monthlytask' %}">Add Monthly Task</a>
        <a href="{% url 'share_room' room.id %}">Share This Room</a>
        {% endif %}
    </div>

    <div class='popoutTaskContainer view'>
        
    </div>

{% endblock content %}